@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #fdfdfd;
  --foreground: #171717;
  --primary: #059669;
  --primary-hover: #047857;
  --primary-light: #ecfdf5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.theme-blue {
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --primary-light: #eff6ff;
}

.theme-rose {
  --primary: #e11d48;
  --primary-hover: #be123c;
  --primary-light: #fff1f2;
}

.theme-emerald {
  --primary: #059669;
  --primary-hover: #047857;
  --primary-light: #ecfdf5;
}

.theme-amber {
  --primary: #d97706;
  --primary-hover: #b45309;
  --primary-light: #fffbeb;
}

.theme-indigo {
  --primary: #4f46e5;
  --primary-hover: #4338ca;
  --primary-light: #eef2ff;
}